* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-continer {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #a82a38, #6e2e6b);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-game-container {
    background-color: #b36d87;
    width: 60%;
    height: 70%;
    display: flex;
    position: relative;
}

#player1-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player2-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.current-score-container {
    background-color: #bf2e57;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#btns-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btns-container button {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
}

#btns-container button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.active {
    background-color: #d6a2ae;
}