* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #a82a38, #6e2e6b);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
}

#backBtn button {
    color: #ff4b5c;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#backBtn button:hover {
    background-color: #ff4b5c;
    color: #fff;
}

#record-container {
    background: #fff;
    width: 600px;
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

#record-container h2 {
    color: #a82a38;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

#record-list {
    list-style: none;
    margin: 20px 0;
}

#record-list li {
    background-image: linear-gradient(135deg, #9c6168, #91678e);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}