* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mainHeading {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
}

#reviewCard {
    width: 40%;
    height: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userInfo {
    width: 94%;
    height: 95%;
    margin: auto auto;
    padding: 20px;
    text-align: center;
}

#profileContainer {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: brown;
    margin: auto auto;
}

#profileImg {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 1;
    position: relative;
    top: 6px;
    right: 6px;
    background-image: url('https://randomuser.me/api/portraits/men/32.jpg');
    background-size: cover;
    background-position: center;
}

#profileName {
    margin-top: 30px;
}

#profileDetail {
    margin-top: 10px;
}

.fa-angle-left {
    position: absolute;
    top: 50%;
}

.fa-angle-right {
    position: absolute;
    top: 50%;
    right: 15px;
}

.fa-angle-left:hover {
    cursor: pointer;
    color: red;
}

.fa-angle-right:hover {
    cursor: pointer;
    color: red;
}