* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 80%;
    margin: auto auto;
}

#header {
    width: 50%;
    height: 150px;
    margin: auto auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btns {
    padding: 5px;
}

#btns button {
    background-color: rgb(249, 210, 195);
    color: brown;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 0.2em;

}

#btns button:hover {
    cursor: pointer;
    background-color: brown;
    color: rgb(249, 210, 195);
    transition: 0.4s ease-in;
}

.active {
    background-color: brown !important;
    color: rgb(249, 210, 195) !important;
}


/* -------------------------- card ---------------------- */
#menuDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 49%;
    height: 200px;
    display: flex;
}

.menuImg {
    width: 40%;
    height: 100%;
    background-size: cover;

}

#menuDetail {
    width: 60%;
    height: 100%;
    padding: 10px;
}