* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#header {
    width: 80%;
    margin: auto auto;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}

#about-container {
    width: 80%;
    height: 400px;
    margin: auto auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#img {
    width: 50%;
    height: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1661963952208-2db3512ef3de?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aGlzdG9yeXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000");
    background-size: cover;
    border-radius: 10px;
}

#about-content {
    width: 50%;
    height: 100%;
}

#aboutNavBar {
    display: grid;
    grid-template-columns: auto auto auto;
}

#aboutNavBar li {
    list-style-type: none;
    border: 2px solid rgb(184, 183, 183);
    color: rgb(82, 81, 81);
    text-align: center;
    padding: 10px;
    letter-spacing: 0.2em;
}

#aboutNavBar li:hover {
    cursor: pointer;
    background-color: rgb(82, 81, 81) ;
    color: white;
    transition: 0.4s all ease-in;
}

.active {
    background-color: rgb(82, 81, 81) !important;
    color: white !important;
}

#history-Vision-Goals-container {
    padding: 10px;
    /* line-height: 1.3em; */
}

#history-Vision-Goals-container h4 {
    margin: 10px 0px;
}